*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --accent-color: #069fe6;
    --light-gray: rgba(0, 0, 0, 0.1);
  }

  .backdrop{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
    display: none;
    opacity: 0;
    transition: opacity 0.5s ease;
  }

  

.cart{
    top: 0;
    right: 0;
    height: 100vh;
    width: 410px;
    position: fixed;
    background-color: #fff;
     font-family: "Poppins";
    display: flex;
    flex-direction: column;
    transform: translateX(110%);  
    transition: transform 0.5s ease-in-out;   
    z-index: 2; 
}

.cart-color{
    background-color: red;
}

.open{
    transform: translateX(0)
  }

  .display{
    background-color: yellow;
  
  }

.cart1{
    padding: 0 2rem;
    padding-top: 1rem;
    overflow-y: auto;
}

.empty{
    font-size: 13px;
    letter-spacing: 1px;
}

#title-block{
    border-bottom: 1px solid #A7A7A7;
    height: 3.8em;
    display: flex;
    border: 1px solid black;
    margin-bottom: 2rem;
}

.title-block-inner{
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    border: 1px solid black;
    display: flex;
    align-items: center;
    word-spacing: 0.2em;
    font-size: 2.1em;
    font-family: "Poppins";
    letter-spacing: 1px;
}

.closeicon-block{
    display: flex;
    align-items: center;
}

#close{
    cursor: pointer;
}

.item-block{
    width: 100%;
    box-sizing: border-box;
    border: 1px solid black;
    height: 7em;
    display: flex;
    margin-bottom: 1rem;
}

.item-img-block{
    width: 37%;
    height: 100%;
    border: 1px solid black;
    box-sizing: border-box;
}

.item-img{
    object-fit: contain;
}

.item-des-block{
    padding-top: 4px;
    display: flex;
    flex-direction: column;
    width: calc(100% - 37%);
}

#item-title{
    text-transform: capitalize;
    font-family: "Poppins";
    font-size: 13px;
    letter-spacing: 1px;
}

.btn-container{
    width: 100%;
    box-sizing: border-box;
    border: 1px solid red;
    height: 2.4em;
    margin-top: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 13px;
    letter-spacing: 1px;
}

.btn-block{
    width: 40%;
    height: 100%;
    box-sizing: border-box;
    border: 1px solid #A7A7A7;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
   text-align: center;
}

.btn-block .operators{
    height: 100%;
    font-size: 17px;
    font-weight: bold;
    display: grid;
    place-items: center;
    cursor: pointer;
    user-select: none;
}

.operators:hover{
  background-color: black;
  color: white;
}

.operators:active{
    background-color: white;
    color: black;
  }
  

.qty-span{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
}

#subtotal{
    min-height: 30vh;
    width: 100%;
    background-color: white;
    border-top: 1px solid #A7A7A7;
    margin-top: auto;
    position: sticky;
    bottom: 0;
    padding: 2rem;
    padding-top: 1rem;
}

.subtotal-block{
    width: 100%;
    border: 1px solid black;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
}

#total{
    font-size: 14px;
    letter-spacing: 3px;
}

#totalPrice{
    font-size: 14px;
    letter-spacing: 1px;
}

#last-para{
    width:100%;
    text-align: center;
    font-size: 11px;
}