

.cartdisplay{
    width: 100%;
    box-sizing: border-box;
    padding: 3em 3em;
    min-height: 70rem
}

.cartdisplay-block{
    width: 100%;
    height: 100%;
    display: grid;
    place-items: center;
    column-gap: 4em;
    row-gap: 1em;
}

.cartdisplay-img-block{
     width: 100%;
     height: 100%;
     box-sizing: border-box;
     overflow: hidden;
}

.cartdisplay-title-block{
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    margin-top:0;
    padding-top: 0;

}

.title-para{
    word-spacing: 0.2em;
    font-size: 2.1em;
    font-family: "Poppins";
    letter-spacing: 1px;
}

.price{
    margin-top: 1.1em;
    margin-bottom: 0.5em;
}

img{
    width: 100%;
    height: 100%;
    background-size: cover;
    object-position:center;
    box-sizing: border-box;
}

.quantity-block{
    margin-top: 2em;
    margin-bottom: 2em;
}

.quantity-block p{
    letter-spacing: 2.8px;
    margin-bottom: 0.6em;
}

.button-block{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 6em;
    height: 2.2em;
    border: 1px solid #A7A7A7;
}

.val{
    height: 100%;
    letter-spacing: 3px;
    box-sizing: border-box;
    display: grid;
    place-items: center;
}

.plus, .minus{
    height: 100%;
    box-sizing: border-box;
    display: grid;
    place-items: center;
    border: none;
    background-color: white;
    font-size: 1.3em;
}

 #btn{
    width: 100%;
    margin-top: auto;
    height: 3em;
    text-align: center;  
    border: none;
}

.btn{
    box-sizing: border-box;
    font-family: "Poppins";
    color: white;
    background-color: black;
    letter-spacing: 2px;
    border: none;
    width: 100%;
    margin-top: auto;
    height: 3em;
    text-align: center;  
    border: none;
}



.offers{
    width: 100%;
}

.offer{
    width: 100%;
   
    box-sizing: border-box;
    display: flex;
    align-items: center;
    font-size: 13px;
    letter-spacing: 1px;
}

.logo{
    width: 15%;
    height: 100%;
    box-sizing: border-box;
    display: grid;
    place-items: center;
}

.descriptions{
    width: 85%;
    box-sizing: border-box;
    height: 100%;
}

.logo img{
    width: 26px;
    height: 26px;
}



.price-para{
    letter-spacing: 1px;
    font-size: 14px;
}

.price{
    letter-spacing: 1px;
}

.descriptions{
    margin-bottom: 1em;
}


#minus:hover{
   cursor:pointer;
   background-color: #A7A7A7;
}

#plus:hover{
    cursor: pointer;
    background-color: #A7A7A7;
}


hr{
    width: 100%;
   border: 1px solid #A7A7A7;
   margin-top: 1.9em;
   margin-bottom: 1.9em;
}



@media (min-width: 800px){
    .cartdisplay-block{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 900px){
    .cartdisplay-title-block{
        align-items: center;
    }

    .title-para, .price, .price-para{
        text-align: center;
    }
}


