.sticky-bar {
    position: sticky; /* Key property for sticky behavior */
    bottom: 0;        /* Stick to the bottom of the viewport */
    width: 100%;      /* Full width */
    background-color: white; /* Adjust as needed */
    padding: 10px;    /* Optional padding */
    min-height: 4.3em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
    font-size: 13px;
    letter-spacing: 1px;
  }

#person-link{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: black;
    user-select: none;
    cursor: pointer;
  }

  #person-link:active{
    color: red;
  }

  