.sticky-bar {
    position: sticky; /* Key property for sticky behavior */
    bottom: 0;        /* Stick to the bottom of the viewport */
    width: 100%;      /* Full width */
    background-color: white; /* Adjust as needed */
    padding: 10px;    /* Optional padding */
    min-height: 4.3em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
    font-size: 13px;
    letter-spacing: 1px;
    display: none;
    width: 100%;
    box-shadow: 0 -5px 10px rgba(0, 0, 0, 0.2); /* Adjust values as needed */
    overflow: hidden;
padding: none;

    
  }

#person-link{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: black;
    user-select: none;
    cursor: pointer;
  }

  #person-link:active{
    color: red;
  }

  @media (max-width:551px){
   .sticky-bar{
     display: block;
   }

}

  